/* Header */

.navbar-run-ads {
    height: 50px;
    background-color: #fff !important;
    border-radius: 0px 0px 20px 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.navbar-run-ads .big-input-header {
    border: 2px solid #0e5904;
    border-radius: 20px 20px 20px 20px;
}

.navbar-run-ads .input-header {
    width: 500px;
    background-color: transparent;
    border: none;
}

.navbar-run-ads .btn-search-header {
    background-color: transparent;
    color: #0e5904;
}

.navbar-run-ads .btn-search-header:focus {
    box-shadow: none;
}

.navbar-run-ads .input-header:focus {
    box-shadow: none;
}

/*  Header */



/* Content */


.content-wrapper {
    background-color: white;
    width: 100%;
    height: calc(100vh - 50px);
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow-x: hidden; */
}

.content-wrapper .view-navigation-page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-wrapper .view-content-page {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
}


.content-wrapper .view-navigation-page .box-page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-wrapper .view-navigation-page .box-page .sub-box-page {
    width: 130px;
    height: 130px;
    border-radius: 20px;
    border: 3px solid #0e5904;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 0rem;
}

.content-wrapper .view-navigation-page .box-page .sub-box-page:hover {
    background-color: #0e5904;
}

.content-wrapper .view-navigation-page .box-page .sub-box-page:hover a {
    color: #fff;
}

.content-wrapper .view-navigation-page .box-page .sub-box-page a {
    color: #0e5904;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-wrapper .view-navigation-page .box-page .sub-box-page i {
    font-size: 40px;
}

.content-wrapper .view-navigation-page .box-page .sub-box-page a .text-in-box-page {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-wrapper .view-navigation-page .box-page .sub-box-page span {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 0rem 0.2rem;
}



/* Content */














































































/*  new font  */
@font-face {
    font-family: 'Rocher';
    /* src: url(https://assets.codepen.io/9632/RocherColorGX.woff2); */
    src: url('../../fonts/RocherColorGX.woff2');

}

@font-palette-values --Reds {
    font-family: Rocher;
    base-palette: 1;
}


.purples {
    font-family: monospace;
    text-align: center;
    font-size: 30px;
    font-palette: --Reds;
    font-weight: bold;
    color: #0e5904;
}


/* Pop up */
.pop-up-ads {
    position: fixed;
    background-color: #121212c7;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    z-index: 1032;
    display: none;
}

.pop-up-ads.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pop-up-ads .exit-pop-up-ads {
    position: absolute;
    border-radius: 20px;
    border: 4px solid #0e5904;
    background-color: rgb(130 209 119 / 66%);;
    width: 60px;
    height: 60px;
    top: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.pop-up-ads .exit-pop-up-ads:hover {
    background-color: rgba(255, 255, 255, 0.67);
}

.pop-up-ads .exit-pop-up-ads i {
    font-size: 25px;
    font-weight: 700;
    color: #0e5904;
}

/* Loading */

.loading_proccess {
    position: fixed;
    background-color: #121212c7;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    z-index: 1030;
    display: none;
}

.loading_proccess.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loading_proccess .icon_loading {
    width: 150px;
    height: 150px;
    object-fit: cover;
}


/* CSS TOAASST */
.toast {
    position: fixed;
    top: 55px;
    right: 15px;
    border-radius: 20px;
    background: #fff;
    padding: 20px 35px 20px 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border: 4px solid #0e5904;
    overflow: hidden;
    transform: translateX(calc(100% + 30px));
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
    z-index: 1035;
    display: none;
}

.toast.active {
    transform: translateX(0%);
    opacity: 1 !important;
    display: block;
}

.toast .toast-content {
    display: flex;
    align-items: center;
}

.toast-content .check {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    background-color: #7cd48c;
    color: #fff;
    font-size: 20px;
    border-radius: 50%;
}

.toast-content .message {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.message .text {
    font-size: 20px;
    font-weight: 400;
    ;
    color: #666666;
}

.message .text.text-1 {
    font-weight: 600;
    color: #333;
}

.toast .close {
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 5px;
    cursor: pointer;
    opacity: 0.7;
}

.toast .close:hover {
    opacity: 1;
}

.toast .progress {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background: #ddd;
}

.toast .progress:before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: #7cd48c;
}

.progress.active:before {
    animation: progress 5s linear forwards;
}

@keyframes progress {
    100% {
        right: 100%;
    }
}




/* .button-ads {
    padding: 0.3rem 1.5rem;
    border: #0e5904;
    border-radius: 20px;
    color: #fff;
    font-weight: 700;
    background-color: #0e5904;
    cursor: pointer;
} */



.input-ads:focus {
    box-shadow: none;
    outline: none;

}


.input-ads:focus {
    box-shadow: none;
    outline: none;
}

.input-ads {
    display: block;
    height: 50px;
    width: 100%;
    border-radius: 20px;
    border: 3px solid #0e5904;
    background-color: rgba(255, 255, 255, 0.07);
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    color: #0e5904;
    font-weight: 700;
}

::placeholder {
    color: #767676;
    font-weight: 700;
}

.button-ads {
    border-radius: 20px;
    /* padding: 15px 0; */
    align-items: center;
    background-color: #0e5904;
    border-radius: 20px;
    border: 3px solid #0e5904;
    color: #ffffff;
    font-weight: 700;
    cursor: pointer;
    display: inline-flex;
    /* font-family: "JetBrains Mono",monospace; */
    height: 48px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 18px;
}

.button-ads:focus{
    box-shadow: none;
    outline: none;
    border: none;
}



.row_data_news:nth-child(odd) {
    background-color: #fff;
}

.row_data_news:nth-child(even) {
    background-color: #7cd48c;
}

.table-bordered,
.table-bordered thead,
.table-bordered tbody,
.table-bordered th,
.table-bordered tr,
.table-bordered td {
    border-top: 0px solid black !important;
    border-bottom: 0px solid black !important;
    border-left: 0px solid black !important;
    border-right: 0px solid black !important;


    border-collapse: collapse;
}



.table-parent-div {
    height: 450px;
    overflow-y: scroll;
}

*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    /* background-color: rgb(253, 162, 162); */
}

*::-webkit-scrollbar-thumb {
    background-color: #0e5904 ;
    border-radius: 6px;
}

.container-chart {
    display: none
}
